$header-color: #027cbf;

.header__container {
  padding: 0 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $header-color;
  font-weight: bold;

  &--left {
    display: flex;
    align-items: center;

    img {
      height: 80px;
      margin-right: 10px;
    }
  }

  &--right {
    ul {
      list-style: none;

      .nav__item {
        color: $header-color;
        text-decoration: none;
      }
    }
  }
}
